.swp
/target/
/node_modules/
/bower_components/
dependency-reduced-pom.xml
fcsAggregatorCorpora.backup.json
fcsAggregatorCorpora.json
fcsAggregatorResources.backup.json
fcsAggregatorResources.json
singleResourceSelectedFromVLO.json
