<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FCS Aggregator – Content Search</title>
  <link rel="icon" type="image/png" sizes="40x40" href="./r/assets/icon-services-fcs.png">

  <!-- global configuration -->
  <script>
    window.MyAggregator = window.MyAggregator || {};
    window._paq = window._paq || [];

    // window.MyAggregator.API_URL = "rest/";
    // window.MyAggregator.DEPLOY_PATH = null; // null for default ("/")

    {{#validatorUrl}}
    window.MyAggregator.VALIDATOR_URL = "{{validatorUrl}}";
    {{/validatorUrl}}
    {{^validatorUrl}}
    window.MyAggregator.VALIDATOR_URL = undefined;
    {{/validatorUrl}}

    window.MyAggregator.SHOW_SEARCH_RESULT_LINK = {{showSearchResultLink}};

    // window.MyAggregator.mode
    // window.MyAggregator.resources
    // window.MyAggregator.xAggregationContext
    window.MyAggregator.isLoggedIn = false;
  </script>

  <script type="module" crossorigin src="./r/fcs-sru-aggregator-ui-0.0.0.js"></script>
  <link rel="modulepreload" crossorigin href="./r/vendor/react.js">
  <link rel="modulepreload" crossorigin href="./r/vendor/react-ext.js">
  <link rel="modulepreload" crossorigin href="./r/vendor/bootstrap.js">
  <link rel="modulepreload" crossorigin href="./r/vendor/prism.js">

  <link rel="stylesheet" crossorigin href="./r/vendor/bootstrap.css">
  <link rel="stylesheet" crossorigin href="./r/fcs-sru-aggregator-ui-0.0.0.css">
</head>

<body>
  <noscript>
    <p>The FCS Aggregator requires JavaScript to be enabled!</p>
  </noscript>
  <div id="root"></div>
</body>

</html>