<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FCS Aggregator – Content Search</title>
  <link rel="icon" type="image/png" sizes="40x40" href="/r/assets/icon-services-fcs.png" />

  <!-- global configuration -->
  <script>
    window.MyAggregator = window.MyAggregator || {};
    window._paq = window._paq || [];

    // NOTE: that paths need to account for different deployments, e.g., sub-paths
    window.MyAggregator.DEPLOY_PATH = "/";
    window.MyAggregator.API_URL = "/rest/";

    // UI (updatable)
    window.MyAggregator.VALIDATOR_URL = {{#validatorUrl}}"{{.}}"{{/validatorUrl}}{{^validatorUrl}}undefined{{/validatorUrl}};
    window.MyAggregator.SHOW_SEARCH_RESULT_LINK = {{showSearchResultLink}};

    // UI
    // window.MyAggregator.APP_TITLE = "Content Search"
    // window.MyAggregator.APP_TITLE_HEAD = "FCS Aggregator – Content Search"
    // window.MyAggregator.TERMS_AND_DISCLAIMER_ADDRESS = "https://www.clarin.eu/content/terms-use-and-disclaimer"
    // window.MyAggregator.CONTACT_ADDRESS = "mailto:fcs@clarin.eu"

    // user authentication status
    window.MyAggregator.AUTH_USERNAME = {{#username}}"{{.}}"{{/username}}{{^username}}null{{/username}};
    
    // matomo, set to null to disable
    {{#piwikConfig}}
    {{#enabled}}
    window.MyAggregator.MATOMO_TRACKING_PARAMS = {
      srcUrl: "{{{url}}}" + "matomo.js",
      trackerUrl: "{{{url}}}" + "matomo.php",
      siteId: {{siteID}},
      {{#username}}userId: "{{.}}",{{/username}}
      domains: [
        {{#setDomains}}
            "{{{.}}}",
        {{/setDomains}}
      ]
    };
    {{/enabled}}
    {{^enabled}}
    window.MyAggregator.MATOMO_TRACKING_PARAMS = null;
    {{/enabled}}
    {{/piwikConfig}}

    // via REST API: /rest/init
    // window.MyAggregator.mode
    // window.MyAggregator.resources
    // window.MyAggregator.xAggregationContext
  </script>

  <script type="module" crossorigin src="/r/fcs-sru-aggregator-ui-0.0.0.js"></script>
  <link rel="modulepreload" crossorigin href="/r/vendor/react.js">
  <link rel="modulepreload" crossorigin href="/r/vendor/react-ext.js">
  <link rel="modulepreload" crossorigin href="/r/vendor/bootstrap.js">
  <link rel="modulepreload" crossorigin href="/r/vendor/prism.js">
  <link rel="modulepreload" crossorigin href="/r/locales/en/default.js">

  <link rel="stylesheet" crossorigin href="/r/vendor/bootstrap.css">
  <link rel="stylesheet" crossorigin href="/r/fcs-sru-aggregator-ui-0.0.0.css">
</head>

<body>
  <noscript>
    <p>The FCS Aggregator requires JavaScript to be enabled!</p>
  </noscript>
  <div id="root"></div>
</body>

</html>