
           /***** List of colors: **********
            
            Dark blue           #0e4071
            Midle dark blue     #a6b9cb 
            Light blue          #e2e7ee 
            Very light blue     #f3f6f9 
            Dark red            #801418
            Light grey          #e9e9e9
            
       **********************************/
            
            a:link { text-decoration:none; font-weight:bold; color:#801418; }
            a:visited { text-decoration:none; font-weight:bold; color:#801418; }
            
             .ccsLightBlue{  
            color:#0e4071;
            font:sans-serif;
            background-color:#f3f6f9;
/*            border:1px solid #f3f6f9;*/
            -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
/*            border-bottom:1px solid #a6b9cb;*/
/*            -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);*/
            cursor:pointer;
/*            padding:3px;*/
            }
            
            .ccsBlue{  
            color:#0e4071;
            font:sans-serif;
            background-color:#e2e7ee;
            border:1px solid #e2e7ee;
            -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
            border-bottom:1px solid #a6b9cb;
            -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
            cursor:pointer;
            padding:3px;
            }
            
            .ccsDarkBlue{  
            color:white;
            font:sans-serif;
            background-color:#0e4071;
            border:1px solid #0e4071;
            -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
            border-bottom:1px solid #0e4071;
            -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
            cursor:pointer;
            padding:3px;
            }
            
            .ccsDarkRed{  
            color:white;
            font:sans-serif;
            background-color:#801418;
            border:1px solid #801418;
            -moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
            border-bottom:1px solid #801418;
            -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
            cursor:pointer;
            padding:3px;
            }
            
            .word-wrap {
            word-wrap: break-word;
            }
