<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<description>CLARIN-D Federated Content Search Aggregator</description>
	<display-name>CLARIN-D Federated Content Search Aggregator</display-name>

	<env-entry>
		<env-entry-name>center-registry-url</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>http://centerregistry-clarin.esc.rzg.mpg.de/restxml/</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>weblicht-url</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>https://weblicht.sfs.uni-tuebingen.de/WebLicht-4/?input=</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>update-interval-unit</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>HOURS</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>update-interval</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>6</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>scan-max-depth</env-entry-name>
		<env-entry-type>java.lang.Integer</env-entry-type>
		<env-entry-value>3</env-entry-value>
	</env-entry>
	<!-- Value of this property (data.location) should be specified in CATALINA_OPT
	(e.g. inside /etc/init.d/tomcat7*), unless the default is used.
	Currently defaults to /data/ or user.home -->
	<env-entry>
		<env-entry-name>data-location-property</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>data.location</env-entry-value>
	</env-entry>
	<!-- Folder for the data specific to the current Aggregator application,
	supposed to be inside the data location folder above  -->
	<env-entry>
		<env-entry-name>aggregator-folder</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>fcsAggregator</env-entry-value>
	</env-entry>


	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>eu.clarin.sru.fcs.aggregator.rest;org.codehaus.jackson.jaxrs</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<listener>
		<listener-class>eu.clarin.sru.fcs.aggregator.app.Aggregator</listener-class>
	</listener>
	
</web-app>
